@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global dark theme */
body {
  @apply bg-darkBg text-softWhite font-sans;
}

/* Neon glow text */
.neon-text {
  color: rgb(201, 166, 229);
  text-shadow: 0 0 3px rgb(201, 166, 229),
               0 0 6px rgba(201, 166, 229, 0.8);
}
html {
  scroll-behavior: smooth;
}
.shadow-neon {
  box-shadow: 0 0 6px rgba(201, 166, 229, 0.6),
              0 0 12px rgba(201, 166, 229, 0.4);
}
